<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
      <add key="allowed_extensions" value="mp3,aac" />
      <add key="metadata_extensions" value="nfo" />
      <add key="metadata_folder" value="/metadata" />
    </appSettings>
</configuration>
