<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="allowed_audio_extensions" value="mp3,aac,m4a,m4b,wav,wma,flac" />
    <add key="allowed_audio_extensions_filter" value="Audio Files|*.mp3;*.aac;*.m4a;*.m4b;*.wav;*.wma;*.flac" />
    <add key="allowed_image_extensions_regex" value="\.(JPG|jpg|jpeg|PNG|png|TIFF|tif|tiff|BMP|bmp|GIF|gif)" />
    <add key="allowed_image_extensions_filter" value="Image Files|*.jpg;*.jpeg;*.png;*.tif;*.tiff;*.bmp;*.gif" />
    <add key="metadata_extensions" value="nfo" />
    <add key="metadata_folder" value="metadata" />
    <add key="audiobook_metadata_filename" value="audiobook" />
    <add key="library_metadata_filename" value="library" />
    <add key="audiobook_cover_filename_with_extension" value="cover.jpg" />
    <add key="text_delimiter" value="," />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>